/* Estilos generales */
body {
    width:100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Estilos del encabezado */
.cuerpomenu {
    background: #333;
    color: #fff;
    padding-top: 20px;
}

.nav-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-container ul li {
    display: inline;
    margin-right: 20px;
}

.nav-container ul li.logo-li {
    margin-right: auto;
    margin-left: 20px;
}

.nav-container ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos de la sección "¿Quién soy?" */
.contenido1 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imagen-quien-soy {
    flex: 1;
    text-align: center;
    margin-right: 20px;
}

.imagen-quien-soy img {
    max-width: 100%;
    height: auto;
}

.texto-quien-soy {
    flex: 2;
}

/* Estilos de los productos de psicoterapia */
.contenido-psicoterapia {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.producto {
    flex: 1;
    text-align: center;
    margin: 20px;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.color-precio {
    color: #007bff; /* Cambia este color según tu preferencia */
}

/* Estilos del pie de página */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
