/* Agrega estilos para la posición de la navegación */
.nav-right {
    float: right;
}

/* Resto de estilos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background: linear-gradient(to right, rosybrown, #ff8c00);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.cuerpomenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagen-caja {
    flex: 1;
}
.nav1{
    
}

.lista1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lista1 li {
    display: inline;
    margin-right: 20px;
    left: 100%;
}

.lista1 li:last-child {
    margin-right: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: flex;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.contenido {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.imagen {
    align-items: center;
    margin: 2px;
    max-width: 100px; /* Establece el ancho máximo de la imagen */

}

